<nz-table #basicTable [nzData]="data()!.data" [nzLoading]="loading()">
  <thead>
    <tr>
      @for (item of columns(); track $index) {
        <th>{{ item.title | titlecase }}</th>
      }
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.attributes.client.data.attributes.name }}</td>
        <td>{{ data.attributes.checking | date }}</td>
        <td>{{ data.attributes.checkout | date }}</td>
        <td>{{ data.attributes.rooms.data[0].attributes.room_number }}</td>
        <td>{{ data.attributes.rooms.data[0].attributes.type | titlecase }}</td>
        <td>
          <app-badge-info
            [info]="data.attributes.client.data.attributes.partner"
          />
        </td>
        <td>
          {{
            data.attributes.category.data.attributes.price
              | currency: "$" : "symbol-narrow" : "1.0-0"
          }}
        </td>
        <td>
          <app-badge-info [info]="data.attributes.paid" />
        </td>
        <td>
          <app-button icon="edit">Editar</app-button>
          <nz-divider nzType="vertical"></nz-divider>
          <app-button icon="delete">Borrar</app-button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
