@defer (when !loading()) {
  <nz-table
    #basicTable
    [nzData]="data().data"
    [nzLoading]="loading()"
    [nzFrontPagination]="false"
    [nzTotal]="data().pagination.totalPages"
    [nzPageIndex]="1"
  >
    <thead>
      <tr>
        @for (item of columns(); track $index) {
          <th>{{ item.title | titlecase }}</th>
        }
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data.id) {
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.client.name }}</td>
          <td>{{ data.checking | date }}</td>
          <td>{{ data.checkout | date }}</td>
          <td>{{ data.room.number }}</td>
          <td>{{ data.room.type | titlecase }}</td>
          <td>
            <app-badge-info [info]="data.client.partner" />
          </td>
          <td>
            {{ data.price.price | currency: "$" : "symbol-narrow" : "1.0-0" }}
          </td>
          <td>
            <app-badge-info [info]="data.paid" />
          </td>
          <td>
            <app-button icon="edit">Editar</app-button>
            <nz-divider nzType="vertical"></nz-divider>
            <app-button icon="delete">Borrar</app-button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
} @loading {
  <span nz-icon nzType="loading" nzTheme="outline"></span>
}
